@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.container{
  margin: 0px;
}

.outer{
	display: flex;
	height:170px;
}

ul{
	list-style: none;
}

.footer{
   background-color:white;
   height:100px;
}

#col1{
	margin-left:250px;
}

.footer-col{
   margin-left:80px;
   width:10%;
   padding: 0px;
   margin-top: 20px;
}

#col4{
	width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: lightcoral;
	text-transform: capitalize;
	margin-bottom:35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom:-10px;
	background-color: #e91e63;
	height: 2px;
	width:70px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:grey;
	text-decoration: none;
	font-weight: 300;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color:lightcoral;
	padding-left: 8px;
}

.footer-col .social-links a{
	display:inline-block;
	height:20px;
	width:40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color:black;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color:lightcoral;
	background-color: #ffffff;
}

.footer-col ul{
	padding-left:10px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}







